- content_for :top_content do
  .jumbotron
    .container
      - if current_user
        %h2
          Welcome #{current_user.name} !
      - else
        %h1 Welcome!
        %p Register to get started.
        %p
          = link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg'
